@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

/* FONTS */
$fontPrimary: "Space Mono";
$fontSecond: "Lexend Deca";

/* Colors */
$yellow: hsl(40, 97, 58);
$lightYellow: hsl(39, 100, 94);
$onix: hsl(215, 14, 23);
$darkNavy: hsl(216, 17, 35);
$dimGrey: hsl(217, 12, 62);
$lightGrey: hsl(212, 41, 93);
$snow: hsl(214, 37, 96);


/* Tamaños */
$layout-tablet: 650px;
$layout-desktop: 1024px;

:root {
    --marginPageHorizontal: 2rem;
    --marginSeccionVertical: 8rem
}


@media (min-width: $layout-tablet) {
    :root {
        --marginPageHorizontal: 8rem;
        --marginSeccionVertical: 6rem
    }

}